<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="stylesheet" type="text/css" th:href="@{/css/Records.css}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
	<title>News & Announcements</title>
</head>

<body id="studentDetails">
	<div align="center" class="details">
		<h1>News&nbsp;&&nbsp;Announcements</h1><br>
		<table border="1" class="table table-striped table-responsive-md">
			<thead class="tbl-header">
				<tr>
					<th style="text-align: center;">
						ID</a>
					</th>
					<th style="text-align: center;">
						Description</a>
					</th>
					<th style="text-align: center;">
						Date of Announcement</a>
					</th>
					

				</tr>
			</thead>
			<tbody>
				<tr th:each="news : ${news}">
					<td style="text-align: center;" th:text="${news.ID}"></td>
					<td style="text-align: center;" th:text="${news.description}"></td>
					<td style="text-align: center;" th:text="${news.date_of_announcement}"></td>
				</tr>
			</tbody>
		</table>

	<a id="home" th:href="@{/DPS/school}">Return to Home page</a>
	</div><br>

</body>

</html>