<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="stylesheet" type="text/css" th:href="@{/css/StudentRecords.css}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
	<title>Assignment Records</title>
</head>

<body id="studentDetails">
	<div align="center" class="details">
		<h1>Submitted&nbsp;&nbsp;Assignments</h1><br>
		<table border="1" class="table table-striped table-responsive-md">
			<thead class="tbl-header">
				<tr>
					<th style="text-align: center;">
						Registration ID</a>
					</th>
					<th style="text-align: center;">
						Name</a>
					</th>
					
					
					<th style="text-align: center;">
						Upload Date</a>
					</th>
					<th style="text-align: center;">
						Assignment</a>
					</th>					
					<th style="text-align: center;">
						Action</a>
					</th>
					
				
					

				</tr>
			</thead>
			<tbody>
				<tr th:each="record : ${assignments}">
					<td style="text-align: center;" th:text="${record.reg_id}"></td>
					<td style="text-align: center;" th:text="${record.student_name}"></td>
			
				
					<td style="text-align: center;" th:text="${record.uploadtime}"></td>
					<td style="text-align: center;"><a th:href ="@{'/techersProfile/downloadSubmittedAssignment/' + ${record.reg_id}}"  class="btn btn-primary">Download File</a></td>
		
		
					
					<td>
					
					
					
					</td>
				</tr>
			</tbody>
		</table>

	
	<a th:href="@{/DPS/school}">Home</a> 	
	</div><br>

</body>

</html>