<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Update Successful </title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" th:href="@{/css/Success.css}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
</head>
<body>

    <div id='card' class="animated fadeIn">
        <div id='upper-side-update'>
            <h3 id='status'>
            Updated
          </h3>
        </div>
        <div id='lower-side'>
          <p id='message' th:text="'Congratulations, the details has been successfully updated.'"><br>
          
          </p>
          <a th:href="@{/adminProfile/AllStudent}" id="button" class="contBtn">View all Records</a><br><br><br><br>
          <a th:href="@{DPS/school}" id="button" class="contBtn">Return Home</a><br><br>
        </div>
      </div>

    </body>
</html>